In [1]:
name = input ("what's your name ?")
age = input ("whats your age ?")
print (f"Hello {name}.You are {name} years old.")

what's your name ?nowrin
whats your age ?200
Hello nowrin.You are nowrin years old.

In [3]:
num1 = float (input("Enter the first number:"))
num2 = float (input("Enter the second number:"))

print ("addition:", num1 + num2)
print ("subtraction", num1 - num2)
print ("multiplication", num1 * num2)
print ("division", num1/num2)

Enter the first number:20
Enter the second number:20
addition: 40.0
subtraction 0.0
multiplication 400.0
division 1.0

In [5]:
num1 = float (input("Enter the first number:"))
num2 = float (input("Enter the second number:"))

print ("addition:", num1 + num2)
print ("subtraction", num1 - num2)
print ("multiplication", num1 * num2)
print ("division", num1/num2)
print ("floor divison", num1 // num2)
print ("modulo", num1 % num2)
print ("exponent", num1 ** num2)

print ("Is equal", num1 == num2)
print ("Is not equal", num1 != num2)
print ("Greater than", num1>num2)
print ("Less than", num1<num2)

print ("Both positive:", num1 > 0 and num2 >0)

Enter the first number:20
Enter the second number:20
addition: 40.0
subtraction 0.0
multiplication 400.0
division 1.0
floor divison 1.0
modulo 0.0
exponent 1.048576e+26
Is equal True
Is not equal False
Greater than False
Less than False
Both positive: True

In [6]:
string = input ("Enter any string:")

print ("uppercase", string.upper())
print ("lowercase", string.lower())

vowels = "aeiou"
vowel_count = sum (1 for char in string . lower () if char in vowels )
print ("Number of vowels:",vowel_count)

print ("reversed_string:", string[::-1])
print ("Hyphenated string", string.replace (" ", "-"))

Enter any string:nowrin
uppercase NOWRIN
lowercase nowrin
Number of vowels: 2
reversed_string: nirwon
Hyphenated string nowrin

In [8]:
number = [10,20,30,40,50]
print ("first element:", number[0])
print ("last element", number[-1])

number.append(60)
print ("List after adding number:" ,number)

number.pop(1)
print ("List after removing second element:", number)

number.reverse()
print("reversed list:", number)

total = sum(number)
average = total/len(number)
print ("sum:", total)
print ("average", average)

first element: 10
last element 50
List after adding number: [10, 20, 30, 40, 50, 60]
List after removing second element: [10, 30, 40, 50, 60]
reversed list: [60, 50, 40, 30, 10]
sum: 190
average 38.0